@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,600&display=swap');


/* cinzel :['Cinzel', 'serif'],
mont :['Montserrat', 'sans-serif'] */

:root{
    --clr-yellow: #E8D49F;
    --clr-white:#FFFFFF;
}
html{
    scroll-behavior: smooth;
}
.home{
    background-image: url("../img/1ringbggray.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navMenu{
    display: flex;
    list-style-type: none;
}
.navLink{
    text-decoration: none;
    color: #FFFFFF;
    font-family:'Montserrat', 'sans-serif';
    letter-spacing: 0.2em;
    margin: 1em;
}
.navLink:hover{
    color: var(--clr-yellow);
}
.logo{
    margin: 2em;
    font-size: 1em;
    color: var(--clr-yellow);
    font-family: 'Cinzel', 'serif';
    text-shadow: 2px 2px black;
}
.logo h2{
    letter-spacing: 0.3em;
    font-weight: 700;
}
.navlink li{
    margin-right: 2.0em;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.br{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--clr-white);
}
.home-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 85vh;
}
.home-center h1{
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: clamp(1.55rem, 2.5vw, 4rem);
    letter-spacing: 0.1em;
    color:  var(--clr-yellow);
    margin: 0 1em 0 1em;
    text-align: center;
    text-shadow: 2px 2px black;
}
.home-center h2{
    font-family:'Cinzel', serif;
    font-weight: 100;
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    letter-spacing: 0.2em;
    color: var(--clr-yellow); 
    margin: 0.2em 1em 0 1em;
}
.home-center h3{
    font-family: 'Cinzel', serif;
    font-weight: 200;
    font-size: clamp(0.5rem, 1.5vw, 0.8rem);
    letter-spacing: 0.3em;
    color: var(--clr-white);  
    font-family:'Montserrat', sans-serif;
    margin: 0.5em 2em 0 2em;
}

/*SERVICES*/
.services{
    min-height: 100vh;
}
.serviceName{
    display: flex;
    align-items: center;
    justify-content: center;
}
.serviceName h1{
    font-size: clamp(1.55rem, 2.5vw, 4rem);
    margin: 10px;
    letter-spacing: 0.3em;
    font-family: 'Cinzel', serif; 
    color: #E8D49F;
    text-shadow: 2px 2px black;
}
.col{
    display: flex;
    margin: 20px;
}
.left{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    min-width: 50%;
}
.left p{
    text-indent: 4ch;
    text-align: justify;
    margin: 10px;
    line-height: 2.5ch;
}
.left h2{
    color: #E8D49F;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px black;
}
.right{
    min-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col2{
    display: flex;
    margin: 20px;
}
.col2 .right{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}
.col2 .left{
    min-width: 50%;
    flex-direction: column;
    justify-content: flex-start;
}
.col2 .right h2{
    color: #E8D49F;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px black;
}
.col2 .right h3{
    color: #E8D49F;
    text-shadow: 2px 2px black;
}
.col2 .right ul{
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}
.col2 .right ul li{
    margin-left: 30px;
}



.col3{
    display: flex;
    margin: 20px;
}
.col3 .right{
    min-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}
.col3 .right h2{
    color: #E8D49F;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px black;
}
/* ABOUT US*/
.aboutus{
    min-height: 100vh;
    background-color: #4e5052;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.aboutusName{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutusName h1{
    font-size: clamp(1.55rem, 2.5vw, 4rem);
    margin: 10px;
    letter-spacing: 0.3em;
    font-family: 'Cinzel', serif; 
    color: #E8D49F;
    text-shadow: 2px 2px black;
}
.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    margin: 10px 10% 10px 10%;
    text-align:justify;
    text-indent: 4ch;
}
.desc h2{
    font-family: 'Cinzel', serif; 
    letter-spacing: 0.3em;
    margin: 10px;
    color: #E8D49F;
    text-shadow: 2px 2px black;
}
.desc p{
    letter-spacing: 0.1em;
    line-height: 2.5ch;
}
.desc hr{
    width: 100%;
    height: 1px;
    margin: 20px 0 20px 0;
    color: #E8D49F;
}
.sample{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/**/
.slider-wrapper {
    margin: 3rem 3rem 0 3rem;
    position: relative;
    overflow: hidden;
}

.slides-container {
    height: 500px;
    width: 100%;
    display: flex;
    overflow:hidden;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}
/******CONTACT US******/
.contactus{
    min-height: 50%;
}
.contactusname{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactusname h1{
    font-size: clamp(1.55rem, 2.5vw, 4rem);
    margin: 10px;
    letter-spacing: 0.3em;
    font-family: 'Cinzel', serif; 
    color: #E8D49F;
    text-shadow: 2px 2px black;
}
.column{
    display: flex;
    margin: 20px;
    gap: 20px;
}
.col-right{
    min-width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}
.col-right .get{
    color: #E8D49F;
    text-shadow: 2px 2px black;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.3em; 
}
.col-right .get h2{
    display: flex;
    align-items: flex-start;
    margin: 20px;
}
.col-right .get h3{
    display: flex;
    align-items: flex-start;
    margin: 20px 20px 0 20px;
    font-size: 15px;
}

.soc-med{
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
}
.soc-med a{
    text-decoration: none;
    color:  #4e5052;
    font-size: 25px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.soc-med a:hover{
    color: #4e5052;
}
.soc-med span{
    padding-left: 10px;
    font-size: 15px;
    color: #4e5052;
    font-weight: 500;
    text-align: center;
}
.col-left{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}
.col-left .map{
    min-width: auto;

}
.col-left .map iframe{
    min-height: 50vh;
    min-width: 100vh;
}
.col-left h3{
    font-family: 'Cinzel', serif; 
    letter-spacing: 0.3em;
    margin: 10px;
    color: #E8D49F;
    text-shadow: 2px 2px black;
}
/*****FOOTER******/
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #4e5052;
    margin-top: 50px;
}
.footer hr{
    width: 100%;
    margin: 5x 0 5px 0;
    color: #FFFFFF;
}
.footer h4{
    font-size: 10px;
    margin: 5px;
    color: #FFFFFF;
    letter-spacing: 0.2em;
    font-family: 'Cinzel', serif;
}
.soc-med1{
    display: flex;
    margin-top: 20px;
}
.soc-med1 a{
    color: #FFFFFF;
    font-size: 20px;
    padding:5px ;
}
